[package]
name = "coqui-stt"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
coqui-stt-sys = "1.1.1"

[features]
raw-bindings = []